@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background-primary: #2957A4;
  --background-secondary: rgba(205, 156, 84, 0.47);
  --text-on-primary: #ffffff;
  --text-on-secondary: #112951;
}

.element-na-primary {
  background: var(--background-primary);
  color: var(--text-on-primary);
  padding: 1rem 1.5rem
}

.element-na-secondary {
  background: var(--background-secondary);
  color: var(--text-on-secondary);
  padding: 1rem 1.5rem
}

html {
  font-family: 'Alegreya Sans', Arial, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 500;
}

@media (min-width: 1000px) {
  html {
    font-size: 21px;
  }
}