.small-title {
  font-weight: 500;
  margin-block: 0.5rem;
}

.explore-btn {
  margin: 0;
}

.price-container {
  text-align: center;

}

.arrival-address {
  margin: 2rem 0 0.5rem 1rem;
}

.map-image {
  max-width: 100%;
  height: auto;
}