.title {
    font-size: 1rem;
    font-weight: 500;
    padding-block: 0.5rem;
}

.title-container {
    border: 12px solid transparent;
    padding: 0rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.frame-blue {
    border-image: url('../../img/frame.svg')15 round;
}

.frame-white {
    border-image: url('../../img/frame-white.svg')15 round;
}