.title {
    font-weight: 500;
}

.title-container {
    border: 12px solid transparent;
    padding: 0rem;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.small {
    width: 50%;
}

.intro {
    padding-block: 1rem;
}

.frame-blue {
    border-image-source: url('../../img/frame.svg');
    border-image-slice: 27 27 25 33;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-style: solid;
}

.frame-white {
    border-image: url('../../img/frame-white.svg');
    border-image-slice: 27 27 25 33;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-style: solid;
}

.title-container.flex-column {
    display: block;
}