.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2957A4;
  width: 100%;
  position: fixed;
  z-index: 1000;
    top: 0;

  max-width: 26rem;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}
.logo-link:visited {
  color: inherit;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 6px;
  padding: 0;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
}

.menu-overlay {
  position: fixed;
  top: 2.7rem;
  width: 26rem;
  background: #2957A4;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 0.3s;
  color:#fff
}


.menu-img {
  width: 26rem;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}

.menu-nav a {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.menu-nav a:hover {
  color: #FFEB11;
}

.menu-contact {
  font-size: 0.95rem;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



h1 {
  font-size: 1.5rem;
  margin: 0;
  color: #FFEB11;
  text-shadow:
    -1px -1px 0 #163363,
    1px -1px 0 #163363,
    -1px 1px 0 #163363,
    1px 1px 0 #163363;

}

.hero img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  color: #FFEB11;
  padding: 0.5rem 1rem;
  text-shadow:
    -1px -1px 0 #163363,
    1px -1px 0 #163363,
    -1px 1px 0 #163363,
    1px 1px 0 #163363;
}