.contact-info {
  margin: 0 auto 0 auto;
  text-align: left;
  width: fit-content;
}

.contact-info a {
  color: inherit;
}

.adress-info {
  margin: 2rem 0 auto 1rem;
  text-align: left;
  width: fit-content;
}

.text-underline {
  text-decoration: underline;
}

.footer-copyright {
  position: absolute;
  bottom: -0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 0.8rem;
}