.contact-info {
  margin: 0 auto 0 auto;
  text-align: left;
  width: fit-content;
}

.contact-info a {
  color: inherit;
}

.adress-info {
  margin: 2rem 0 auto 1rem;
  text-align: left;
  width: fit-content;
}

.text-underline {
  text-decoration: underline;
}

.footer-copyright {
  position: absolute;
  bottom: -0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 0.8rem;
}

a:hover {
    color: #FFEB11;
  }

@media (max-width: 999px) {
  #desktop-contact {
    display: none;
  }
}
@media (min-width: 1000px) {
  #mobile-contact {
    display: none;
  }

  #desktop-contact {
    display: block;
  }

  .footer-contact {
    display: flex;
    justify-content: space-evenly
  }

  .footer-contact a {
  color: inherit;
}
 .footer-contact a:hover {
    color: #FFEB11;
  }

}