
.hero {
  position: relative;
  margin-top: 5rem;
}

@media (min-width: 1000px) {
  .hero {
    margin-top: 1rem;
  }}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin: 0;
  color: #FFEB11;
  padding: 0.5rem 1rem;
  text-shadow:
    -1px -1px 0 #163363,
    1px -1px 0 #163363,
    -1px 1px 0 #163363,
    1px 1px 0 #163363;
  font-size: clamp(1.5rem, 12vw, 9rem)
}