.info-text-center p {
  text-align: center;
  max-width: 600px;
  margin: 1rem auto 0 auto;
}

.paragraph p {
  margin: 0.5rem;
  padding-left: 2rem;
}

.text-content.end-block p {
  margin-bottom: 0;
}

.element-na-primary.block {
  padding: 0rem;
  max-width: 800px;
  margin: 0rem auto;
}