.center {
    text-align: center;
}

li {
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1.2rem;
}

.icons-rules img {
    padding: 1rem;
    flex-shrink: 1;
}

.icons-rules {
    display: flex;
    justify-content: center;
}
.container {
   margin-top: 1rem;
}

@media (min-width: 1000px) {
    .info-rules {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
        text-align: left;
    }

    .mobile-rules {
        display: none;
    }
    .desktop-rules {
        margin: 0 auto;
    }
}

