.center {
    text-align: center;
}

li {
    margin-bottom: 0.5rem;
}

.icons-rules img {
    padding: 1.2rem;
    flex-shrink: 1;
}

.icons-rules {
    display: flex;
    justify-content: center;

}