@media (min-width: 1000px) {
    .container {
        margin: 0 auto;
          padding-top: 60px;

    }

    .text-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
        text-align: left;
    }
}