@media (min-width: 1000px) {
    .container {
        margin: 0 auto;
        padding-top: 60px;

    }

    .text-content {
        max-width: 850px;
        margin: 0 auto;
        text-align: left;
    }

    .rooms-title {
        padding-top: 1rem;
    }

    .share-areas-page ul {
        padding-left: 4rem;
    }

    .text-content a {
        color: inherit;
    }

    .text-content a:hover {
        color: white
    }

    .element-na-primary.block.share {
        margin-block:2rem;
    }
}