header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
}

.small-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.explore-btn{
  margin: 0;
}

.price-container {
  text-align: center;
  padding: 0.5rem;
} 